<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        id          = "www.turni.com"
        version     = "3.4.0" >

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>340</string>
    </gap:config-file>

	<gap:platform name="android" />
	
	
     <preference name="android-targetSdkVersion" value="28" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />


    <name>Turni</name>
    <icon src="icon.png" width="57" height="57" />
    
		
    
    <author href="" email="sgabe76@gmail.com">
        Sauro Gabellini
    </author>

	    <plugin name="cordova-plugin-inappbrowser" />   
       <gap:plugin name="cordova-plugin-whitelist" source="npm"/>        
    <plugin name="cordova-plugin-file-transfer" />
	<access origin="*" />
</widget>
