<div class="row">
<div class="span6">
  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3 ng-controller="todaysStatsController"> Turno di oggi - {{data.response.giornosettimana}}  {{data.response.giornomeseanno}} </h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <div class="widget big-stats-container"  ng-controller="todaysStatsController">
		<div class="widget-content" >
		  <h6 class="bigstats">{{data.response.turno}} {{data.response.orario}}</h6>
		</div>
		<!-- /widget-content -->
    <div class="widget-content" >
      <h6 style="margin: 20px;">{{data.response.modifica}}</h6>
      <h5 style="margin: 20px;">{{data.response.note}}</h5>
    </div>
	  </div>
	</div>
  </div>
   <!-- /widget -->


  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3> Prossime variazioni</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content" ng-controller="recentNewsController">
	  <ul class="news-items" ng-show="data.success">
		<li ng-repeat="recentNews in data.response">

		  <div class="news-item-date"> <span class="news-item-day">{{recentNews.date}}</span> <span class="news-item-month">{{recentNews.month}}</span> </div>
		  <div class="news-item-detail"> <a href="javascript:;" class="news-item-title">{{recentNews.title}}</a>
			<p class="news-item-preview">{{recentNews.description}}</p>
		  </div>

		</li>
	  </ul>
	  <div ng-show="data.error" class="alert">
		<strong>Error!</strong> {{data.errorMsg}}
	  </div>
	</div>
	<!-- /widget-content -->
  </div>
  <!-- /widget -->
</div>
<!-- /span6 -->
	<!-- /widget-content -->
  </div>
  <!-- /widget -->


</div>
<!-- /span6 -->
</div>
<!-- /row -->
