<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="javascript:;">Turni</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
		  <i class="icon-user"></i> Logout! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports"><i class="icon-code"></i><span>Settings</span> </a> </li>
		    <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li ng-class="{active: $state.includes('customers') || $state.includes('customer.view') || $state.includes('customer.edit')}"><a ui-sref="customers"><i class="icon-list-alt"></i><span>Calendario</span> </a></li>



      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
